In [29]:
from public_data.models import CommunePop, Epci
from collections import defaultdict

In [21]:
epci = Epci.objects.get(name__icontains="CC Coeur d'Astarac en Gascogne")
epci

In [22]:
epci.get_cities()

<QuerySet [<Commune: Estipouy (32128)>, <Commune: Laas (32167)>, <Commune: Marseillan (32238)>, <Commune: Lamazère (32187)>, <Commune: Mascaras (32240)>, <Commune: Mouchès (32293)>, <Commune: Pouylebon (32326)>, <Commune: Armous-et-Cau (32009)>, <Commune: Bars (32030)>, <Commune: Bassoues (32032)>, <Commune: Castelnau-d'Anglès (32077)>, <Commune: L'Isle-de-Noé (32159)>, <Commune: Louslitges (32217)>, <Commune: Miélan (32252)>, <Commune: Mirande (32256)>, <Commune: Monclar-sur-Losse (32265)>, <Commune: Montesquiou (32285)>, <Commune: Saint-Christaud (32367)>, <Commune: Saint-Maur (32393)>]>

In [12]:
auch = epci.get_cities().filter(name="Auch").first()
auch

In [28]:
from prettytable import PrettyTable
headers = ["year", "pop", "pop_change", "household", "household_change"]
x = PrettyTable(field_names=headers, align="l")
qs = CommunePop.objects.filter(city__insee="32238").order_by("year")
x.add_rows(
    [
        [getattr(c, h) for h in headers]
        for c in qs
    ]
)
x

+------+-----+------------+-----------+------------------+
| year | pop | pop_change | household | household_change |
+------+-----+------------+-----------+------------------+
| 2006 | 79  | None       | None      | None             |
| 2007 | 80  | 1          | None      | None             |
| 2008 | 80  | 0          | 36        | None             |
| 2009 | 87  | 7          | 38        | 2                |
| 2010 | 92  | 5          | 40        | 2                |
| 2011 | 97  | 5          | 42        | 2                |
| 2012 | 102 | 5          | 43        | 1                |
| 2013 | 104 | 2          | 44        | 1                |
| 2014 | 107 | 3          | 44        | 0                |
| 2015 | 101 | -6         | 44        | 0                |
| 2016 | 96  | -5         | 44        | 0                |
| 2017 | 90  | -6         | 43        | -1               |
| 2018 | 87  | -3         | 43        | 0                |
| 2019 | 86  | -1         | None      | None             |
+------+-----+------------+-----------+------------------+

In [39]:
qs = CommunePop.objects.filter(city__in=epci.get_cities())
data = defaultdict(lambda: defaultdict(lambda: dict()))
for citypop in qs:
    if citypop.household_change:
        data[citypop.city.name][citypop.year] = citypop.household_change
data

1

In [43]:
headers = ["city"] + [str(y) for y in range(2009, 2019)]
x = PrettyTable(field_names=headers, align="l")
x.add_rows(
    [
        [name] + [d[y] or 0 for y in range(2009, 2019)]
        for name, d in data.items()
    ]
)
x.add_row(["Total"] + [sum(data[name][y] or 0 for name in data.keys()) for y in range(2009, 2019)])
x

+--------------------+------+------+------+------+------+------+------+------+------+------+
|        city        | 2009 | 2010 | 2011 | 2012 | 2013 | 2014 | 2015 | 2016 | 2017 | 2018 |
+--------------------+------+------+------+------+------+------+------+------+------+------+
| Estipouy           | 1    | 1    | 1    | 1    | 0    | 0    | 0    | 0    | 1    | 0    |
| Laas               | 3    | 3    | 3    | 4    | 3    | -1   | -1   | -1   | -2   | -1   |
| Marseillan         | 2    | 2    | 2    | 1    | 1    | 0    | 0    | 0    | -1   | 0    |
| Lamazère           | 1    | 0    | 1    | 0    | 0    | 1    | 0    | 1    | 0    | 0    |
| Mascaras           | 1    | 1    | 1    | 1    | 0    | 1    | 1    | 1    | 2    | 1    |
| Mouchès            | 0    | 0    | 0    | 0    | 0    | 1    | 0    | 1    | 0    | 0    |
| Pouylebon          | 3    | 3    | 3    | 2    | 2    | -2   | -2   | -2   | -2   | -1   |
| Armous-et-Cau      | 1    | 1    | 1    | 1    | 0    | -2   | -2   | -2   | -2   | -2   |
| Bars               | -1   | -1   | -1   | -2   | -1   | 1    | 1    | 1    | 1    | 1    |
| Bassoues           | -4   | -3   | -4   | -3   | -3   | 2    | 1    | 2    | 1    | 1    |
| Castelnau-d'Anglès | 0    | 0    | 0    | 0    | 0    | -1   | -1   | -1   | -1   | 0    |
| L'Isle-de-Noé      | 2    | 3    | 2    | 3    | 2    | 1    | 1    | 1    | 1    | 0    |
| Louslitges         | -1   | -1   | -1   | 0    | 0    | -1   | -1   | 0    | -1   | 0    |
| Miélan             | 1    | 1    | 1    | 1    | 1    | 0    | 0    | 0    | 0    | 0    |
| Mirande            | 1    | 0    | 1    | 0    | 0    | 2    | 2    | 3    | 2    | 2    |
| Monclar-sur-Losse  | -1   | -1   | -2   | -1   | -1   | 0    | 0    | 0    | 0    | 0    |
| Montesquiou        | 2    | 2    | 2    | 2    | 2    | 2    | 2    | 2    | 2    | 2    |
| Saint-Christaud    | -1   | -1   | -1   | -1   | 0    | 2    | 2    | 1    | 2    | 1    |
| Saint-Maur         | 1    | 1    | 1    | 1    | 0    | 2    | 2    | 1    | 2    | 1    |
| Total              | 11   | 11   | 10   | 10   | 6    | 8    | 5    | 8    | 5    | 5    |
+--------------------+------+------+------+------+------+------+------+------+------+------+